@import 'variables';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    font-family:$font;
    color:$text-color;
    background:rgb(242, 243, 245);
   
  .container{

        header{
            
            nav{

                width:100%;

                .navbar{

                    display:flex;
                    justify-content:space-around;
                    position:fixed;
                    top:0;
                    width:100%;
                    overflow:hidden;
                    background:#fff;
                    padding:15px;
        
                }

                .logo{
                    cursor:pointer;
                }
            
            .navbar-list{
            
                width:50%;
                
                ul{
                    display:flex;
                    justify-content:space-between;
                    width:70%;
                    margin:0 auto;
                
                    li{

                        list-style: none;
                
                        a{
                            text-decoration:none;
                            color:$text-color;
                            transition:all 0.5s ease;

                            &:hover{

                                color:#fff;
                                background:$text-color;
                                padding:5px;
                                border-radius:5px;

                            }
                        }

                    }

                }
            }

            .navbar-button{
                
                button{
                    margin-left:10px;
                    padding:10px;
                    background:rgb(238, 96, 30);
                    color:#fff;
                    border:none;
                    border-radius:5px;
                    transition:all 0.5s ease;
                    
                    &:hover{
                        background:$color;
                    }
                }
               
            }

          } 
        }

        main{

            width:90%;
            margin:30px auto;

            .main-container{
                  
                margin-top:10%;
                  display:flex;
                  justify-content:space-between;

                .main-text{

                    width:50%;
                      
                        h1{
                            font-size:50px;
                            font-weight:normal;
                        }

                        .text-input{
                            
                            margin-top:5%;
                            width:100%;
                            
                              input{
                                  padding:20px;
                                  border-radius:5px;
                                  width:50%;
                                  height:5px;
                                  border:1px solid #fff;
                                  box-shadow: 1px 1px 10px gray;
                              }

                              button{

                                background:rgb(238, 96, 30);
                                padding:10px;
                                width:20%;
                                border:none;
                                border-radius:5px;
                                color:#fff;
                                font-size:15px;
                                transition:all 0.5s ease;

                                &:hover{
                                    background:$color;
                                }
                            
                              }
                              
                        }
                    
                        .text-minor{
                        
                            margin-top:10%;

                        }
                }
                .image{
                    
                    width:50%;
                    border-radius:10px;
            
                    img{

                        width:100%;
                        
                    }
                
                }

          }
        }
     }

     footer{

        background:#0d1349;
        color:#fff;

        .footer{

            display:flex;
            justify-content: space-around;
            align-items:center;
            height:100%;
            font-size:15px;

            .footer-1{

                width:50%;
                
            }

            .footer-2{
              
                ul{
                    display:flex;

                    li{
                        list-style:none;
                        padding:20px;
                        cursor:pointer;
                    }
                }

            }
        }
     }
}